# Created by .ignore support plugin (hsz.mobi)
/obl5.iml
/Untitled Diagram.xml
/form.png
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace (mbp's conflicted copy 2018-04-18).xml
.idea/workspace.xml
Untitled Diagram.xml
form.js
form.png
index.html
obl5.iml
style.css
